In [19]:
import jenkspy

import pandas as pd
import statsmodels.api as sm
from sklearn import datasets
import matplotlib.pyplot as plt
from scipy.cluster.hierarchy import dendrogram, linkage
import numpy as np
from scipy.cluster.hierarchy import fcluster
import matplotlib.cm as cm
import plot_utils
import seaborn as sns
import statistics
from sklearn import tree, metrics, preprocessing
from sklearn.datasets import load_iris
from sklearn.metrics import accuracy_score, silhouette_score, silhouette_samples
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from scipy import stats
from sklearn.cluster import KMeans

In [20]:
test=pd.read_csv('bank_reg_test')
train=pd.read_csv('bank_reg_training')
train

      Approval  Credit Score  Debt-to-Income Ratio  Interest  Request Amount
0            F         695.0                  0.47    2700.0          6000.0
1            F         775.0                  0.03    6300.0         14000.0
2            T         703.0                  0.21    3600.0          8000.0
3            T         738.0                  0.18    8100.0         18000.0
4            T         685.0                  0.16    7650.0         17000.0
...        ...           ...                   ...       ...             ...
10688        F         533.0                  0.60    1350.0          3000.0
10689        T         790.0                  0.20    2250.0          5000.0
10690        T         715.0                  0.21    4050.0          9000.0
10691        F         697.0                  0.22    2250.0          5000.0
10692        F         689.0                  0.85    1350.0          3000.0

[10693 rows x 5 columns]

In [21]:
X = pd.DataFrame(train[['Debt-to-Income Ratio','Request Amount']])
y = pd.DataFrame(train[['Credit Score']])
X = sm.add_constant(X)
model01 = sm.OLS(y, X).fit()
model01.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           Credit Score   R-squared:                       0.028
Model:                            OLS   Adj. R-squared:                  0.028
Method:                 Least Squares   F-statistic:                     156.2
Date:                Mon, 24 May 2021   Prob (F-statistic):           1.37e-67
Time:                        14:33:25   Log-Likelihood:                -59972.
No. Observations:               10693   AIC:                         1.199e+05
Df Residuals:                   10690   BIC:                         1.200e+05
Df Model:                           2
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                  668.4562      1.336    500.275      0.000     665.837     671.075
Debt-to-Income Ratio   -48.1262      4.785    -10.058      0.000     -57.505     -38.747
Request Amount           0.0011   6.84e-05     15.727      0.000       0.001       0.001
==============================================================================
Omnibus:                     1658.575   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2844.250
Skew:                          -1.021   Prob(JB):                         0.00
Kurtosis:                       4.487   Cond. No.                     1.24e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.24e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [22]:
X = pd.DataFrame(test[['Debt-to-Income Ratio','Request Amount']])
y = pd.DataFrame(test[['Credit Score']])
X = sm.add_constant(X)
model01 = sm.OLS(y, X).fit()
model01.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           Credit Score   R-squared:                       0.038
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     215.4
Date:                Mon, 24 May 2021   Prob (F-statistic):           1.94e-92
Time:                        14:33:26   Log-Likelihood:                -60395.
No. Observations:               10775   AIC:                         1.208e+05
Df Residuals:                   10772   BIC:                         1.208e+05
Df Model:                           2
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                  665.4987      1.328    501.265      0.000     662.896     668.101
Debt-to-Income Ratio   -52.1374      4.826    -10.803      0.000     -61.597     -42.677
Request Amount           0.0013   6.85e-05     19.013      0.000       0.001       0.001
==============================================================================
Omnibus:                     1792.693   Durbin-Watson:                   1.985
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3194.120
Skew:                          -1.067   Prob(JB):                         0.00
Kurtosis:                       4.600   Cond. No.                     1.25e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.25e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# PCA

In [23]:
test=pd.read_csv('clothing_store_PCA_test')
train=pd.read_csv('clothing_store_PCA_training')
train

,Days since Purchase,Purchase Visits,Days on File,Days between Purchases,Diff Items Purchased,Sales per Visit
0,66,8,701,87.62,35,105.757500
1,49,1,49,49.00,8,87.440000
2,26,2,145,72.50,5,60.000000
3,64,5,357,71.40,17,104.240000
4,356,1,447,447.00,2,79.000000
...,...,...,...,...,...,...
14597,257,1,257,257.00,2,38.490000
14598,322,2,323,161.50,3,19.500000
14599,7,11,374,34.00,36,97.590909
14600,37,3,257,85.66,15,88.646667
14601,21,5,270,54.00,22,111.084000

In [24]:
x = train.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
train = pd.DataFrame(x_scaled,index=train.index, columns=train.columns)
train

,Days since Purchase,Purchase Visits,Days on File,Days between Purchases,Diff Items Purchased,Sales per Visit
0,0.178571,0.061404,0.983075,0.117941,0.045822,0.054018
1,0.131868,0.000000,0.063470,0.063470,0.009434,0.044466
2,0.068681,0.008772,0.198872,0.096615,0.005391,0.030157
3,0.173077,0.035088,0.497884,0.095063,0.021563,0.053227
4,0.975275,0.000000,0.624824,0.624824,0.001348,0.040065
...,...,...,...,...,...,...
14597,0.703297,0.000000,0.356841,0.356841,0.001348,0.018941
14598,0.881868,0.008772,0.449929,0.222144,0.002695,0.009039
14599,0.016484,0.087719,0.521862,0.042313,0.047170,0.049759
14600,0.098901,0.017544,0.356841,0.115176,0.018868,0.045095
14601,0.054945,0.035088,0.375176,0.070522,0.028302,0.056795

In [25]:
train.corr()

,Days since Purchase,Purchase Visits,Days on File,Days between Purchases,Diff Items Purchased,Sales per Visit
Days since Purchase,1.000000,-0.439821,-0.158718,0.573090,-0.378658,0.150172
Purchase Visits,-0.439821,1.000000,0.363729,-0.453024,0.821257,-0.177660
Days on File,-0.158718,0.363729,1.000000,0.202890,0.302624,-0.135568
Days between Purchases,0.573090,-0.453024,0.202890,1.000000,-0.371018,0.198546
Diff Items Purchased,-0.378658,0.821257,0.302624,-0.371018,1.000000,0.081713
Sales per Visit,0.150172,-0.177660,-0.135568,0.198546,0.081713,1.000000