# Ghazaleh Zehtab
# HW7, Question4

In [119]:
import csv
import jenkspy
import numpy as np
import pandas as pd
import statsmodels.api as sm
import math
from gsppy.gsp import GSP
from mlxtend.preprocessing import TransactionEncoder
from sklearn import tree, metrics, preprocessing
from sklearn.metrics import accuracy_score, silhouette_score, silhouette_samples, mean_squared_error
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import mean_absolute_error

# a

In [120]:
df=pd.read_csv('Heart.csv')
df.dropna(inplace=True)
df

,age,gender,chest pain type,serum cholestoral,fasting blood sugar,resting electrocardiographic,maximum heart rate achieved,exercise induced angina,target
1,37,1,2,250,0,1,187.0,0,1
2,41,0,1,204,0,0,172.0,0,1
3,56,1,1,236,0,1,178.0,0,1
4,57,0,0,354,0,1,163.0,1,1
5,57,1,0,192,0,1,148.0,0,1
...,...,...,...,...,...,...,...,...,...
298,57,0,0,241,0,1,123.0,1,0
299,45,1,3,264,0,1,132.0,0,0
300,68,1,0,193,1,1,141.0,0,0
301,57,1,0,131,0,1,115.0,1,0
302,57,0,1,236,0,0,174.0,0,0

In [121]:
df.columns

Index(['age', 'gender', 'chest pain type', 'serum cholestoral ',
       'fasting blood sugar', 'resting electrocardiographic',
       'maximum heart rate achieved', 'exercise induced angina', 'target'],
      dtype='object')

# b

In [122]:
breaks=jenkspy.jenks_breaks(df['age'], nb_class=6)
print(breaks)
df['age']=pd.cut(df['age'],bins=breaks,labels=[1,2,3,4,5,6])

breaks1=jenkspy.jenks_breaks(df['serum cholestoral '], nb_class=3)
print(breaks1)
df['serum cholestoral ']=pd.cut(df['serum cholestoral '],bins=breaks1,labels=[1,2,3])

breaks2=jenkspy.jenks_breaks(df['maximum heart rate achieved'], nb_class=3)
print(breaks2)
df['maximum heart rate achieved']=pd.cut(df['maximum heart rate achieved'],bins=breaks2,labels=[1,2,3])
df

[29.0, 40.0, 47.0, 54.0, 60.0, 66.0, 77.0]
[126.0, 226.0, 290.0, 564.0]
[71.0, 133.0, 160.0, 202.0]

,age,gender,chest pain type,serum cholestoral,fasting blood sugar,resting electrocardiographic,maximum heart rate achieved,exercise induced angina,target
1,1,1,2,2,0,1,3,0,1
2,2,0,1,1,0,0,3,0,1
3,4,1,1,2,0,1,3,0,1
4,4,0,0,3,0,1,3,1,1
5,4,1,0,1,0,1,2,0,1
...,...,...,...,...,...,...,...,...,...
298,4,0,0,2,0,1,1,1,0
299,2,1,3,2,0,1,1,0,0
300,6,1,0,1,1,1,2,0,0
301,4,1,0,1,0,1,1,1,0
302,4,0,1,2,0,0,3,0,0

In [123]:
df=pd.get_dummies(df,columns=['age','serum cholestoral ','maximum heart rate achieved','chest pain type','target','gender','exercise induced angina'])
df.head()

,fasting blood sugar,resting electrocardiographic,age_1,age_2,age_3,age_4,age_5,age_6,serum cholestoral _1,serum cholestoral _2,...,chest pain type_0,chest pain type_1,chest pain type_2,chest pain type_3,target_0,target_1,gender_0,gender_1,exercise induced angina_0,exercise induced angina_1
1,0,1,1,0,0,0,0,0,0,1,...,0,0,1,0,0,1,0,1,1,0
2,0,0,0,1,0,0,0,0,1,0,...,0,1,0,0,0,1,1,0,1,0
3,0,1,0,0,0,1,0,0,0,1,...,0,1,0,0,0,1,0,1,1,0
4,0,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,1,1,0,0,1
5,0,1,0,0,0,1,0,0,1,0,...,1,0,0,0,0,1,0,1,1,0

In [124]:
df.replace(1,True,inplace=True)
df.replace(2,True,inplace=True)
df.replace(0,False,inplace=True)
df

,fasting blood sugar,resting electrocardiographic,age_1,age_2,age_3,age_4,age_5,age_6,serum cholestoral _1,serum cholestoral _2,...,chest pain type_0,chest pain type_1,chest pain type_2,chest pain type_3,target_0,target_1,gender_0,gender_1,exercise induced angina_0,exercise induced angina_1
1,False,True,True,False,False,False,False,False,False,True,...,False,False,True,False,False,True,False,True,True,False
2,False,False,False,True,False,False,False,False,True,False,...,False,True,False,False,False,True,True,False,True,False
3,False,True,False,False,False,True,False,False,False,True,...,False,True,False,False,False,True,False,True,True,False
4,False,True,False,False,False,True,False,False,False,False,...,True,False,False,False,False,True,True,False,False,True
5,False,True,False,False,False,True,False,False,True,False,...,True,False,False,False,False,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,True,False,False,False,True,False,False,False,True,...,True,False,False,False,True,False,True,False,False,True
299,False,True,False,True,False,False,False,False,False,True,...,False,False,False,True,True,False,False,True,True,False
300,True,True,False,False,False,False,False,True,True,False,...,True,False,False,False,True,False,False,True,True,False
301,False,True,False,False,False,True,False,False,True,False,...,True,False,False,False,True,False,False,True,False,True
302,False,False,False,False,False,True,False,False,False,True,...,False,True,False,False,True,False,True,False,True,False

In [125]:
from mlxtend.frequent_patterns import apriori, association_rules
frq_items=apriori(df, min_support=0.2,use_colnames=True)
frq_items

     support                                                  itemsets
0   0.516556                            (resting electrocardiographic)
1   0.225166                                                   (age_3)
2   0.264901                                                   (age_4)
3   0.370861                                    (serum cholestoral _1)
4   0.450331                                    (serum cholestoral _2)
..       ...                                                       ...
57  0.205298  (exercise induced angina_1, chest pain type_0, gender_1)
58  0.205298  (chest pain type_2, target_1, exercise induced angina_0)
59  0.205298           (exercise induced angina_1, gender_1, target_0)
60  0.211921           (target_1, gender_0, exercise induced angina_0)
61  0.254967           (target_1, gender_1, exercise induced angina_0)

[62 rows x 2 columns]

In [126]:
rules = association_rules(frq_items, metric='lift')
rules = pd.concat([rules[rules.consequents == frozenset({'target_1'})],
                   rules[rules.consequents == frozenset({'target_0'})]], ignore_index=True)
rules.sort_values(by=['consequents','confidence','lift','support'], inplace=True, ascending=False)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
18,"(exercise induced angina_1, chest pain type_0)",(target_0),0.264901,0.456954,0.231788,0.875000,1.914855,0.110741,4.344371
19,"(exercise induced angina_1, gender_1)",(target_0),0.254967,0.456954,0.205298,0.805195,1.762093,0.088790,2.787638
17,"(chest pain type_0, gender_1)",(target_0),0.344371,0.456954,0.274834,0.798077,1.746516,0.117473,2.689372
16,(exercise induced angina_1),(target_0),0.327815,0.456954,0.251656,0.767677,1.679988,0.101860,2.337460
14,(chest pain type_0),(target_0),0.473510,0.456954,0.344371,0.727273,1.591568,0.127999,1.991170
15,(gender_1),(target_0),0.682119,0.456954,0.377483,0.553398,1.211060,0.065787,1.215952
13,(serum cholestoral _2),(target_0),0.450331,0.456954,0.231788,0.514706,1.126385,0.026008,1.119005
11,"(gender_0, exercise induced angina_0)",(target_1),0.245033,0.543046,0.211921,0.864865,1.592617,0.078856,3.381457
10,"(chest pain type_2, exercise induced angina_0)",(target_1),0.251656,0.543046,0.205298,0.815789,1.502246,0.068637,2.480605
9,"(maximum heart rate achieved_3, exercise induced angina_0)",(target_1),0.317881,0.543046,0.258278,0.812500,1.496189,0.085654,2.437086
4,(chest pain type_2),(target_1),0.288079,0.543046,0.228477,0.793103,1.460471,0.072036,2.208609
8,"(resting electrocardiographic, exercise induced angina_0)",(target_1),0.367550,0.543046,0.284768,0.774775,1.426719,0.085172,2.028874
3,(maximum heart rate achieved_3),(target_1),0.364238,0.543046,0.281457,0.772727,1.422949,0.083659,2.010596
5,(gender_0),(target_1),0.317881,0.543046,0.238411,0.750000,1.381098,0.065787,1.827815
7,(exercise induced angina_0),(target_1),0.672185,0.543046,0.466887,0.694581,1.279046,0.101860,1.496155
1,(serum cholestoral _1),(target_1),0.370861,0.543046,0.231788,0.625000,1.150915,0.030393,1.218543
0,(resting electrocardiographic),(target_1),0.516556,0.543046,0.321192,0.621795,1.145013,0.040678,1.208216
12,"(gender_1, exercise induced angina_0)",(target_1),0.427152,0.543046,0.254967,0.596899,1.099168,0.023003,1.133597
2,(serum cholestoral _2),(target_1),0.450331,0.543046,0.218543,0.485294,0.893651,-0.026008,0.887796
6,(gender_1),(target_1),0.682119,0.543046,0.304636,0.446602,0.822401,-0.065787,0.825723