In [18]:
import jenkspy

import pandas as pd
from sklearn import datasets
import matplotlib.pyplot as plt
from scipy.cluster.hierarchy import dendrogram, linkage
import numpy as np
from scipy.cluster.hierarchy import fcluster
import matplotlib.cm as cm
import plot_utils
import seaborn as sns
import statistics
from sklearn import tree, metrics, preprocessing
from sklearn.datasets import load_iris
from sklearn.metrics import accuracy_score, silhouette_score, silhouette_samples
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from scipy import stats
from sklearn.cluster import KMeans

In [19]:
wine_train = pd.read_csv("white_wine_training")
wine_train

      alcohol  quality  sugar
0        8.40        4    5.9
1        8.50        6    5.9
2        8.50        6   18.0
3        8.50        6   18.0
4        8.50        5    9.1
...       ...      ...    ...
1804    13.80        6    4.6
1805    13.90        7    2.6
1806    14.00        7    1.9
1807    14.00        7    1.9
1808    14.05        7    8.4

[1809 rows x 3 columns]

In [20]:
X = wine_train[['alcohol', 'sugar']]
Xz = pd.DataFrame(stats.zscore(X), columns=['alcohol', 'sugar'])
Xz

       alcohol     sugar
0    -1.826971  0.011679
1    -1.743463  0.011679
2    -1.743463  2.601695
3    -1.743463  2.601695
4    -1.743463  0.696642
...        ...       ...
1804  2.682434 -0.266588
1805  2.765941 -0.694689
1806  2.849449 -0.844525
1807  2.849449 -0.844525
1808  2.891203  0.546806

[1809 rows x 2 columns]

In [21]:
kmeans01 = KMeans(n_clusters = 2).fit(Xz)
cluster = kmeans01.labels_
cluster

array([1, 1, 1, ..., 0, 0, 0])

In [22]:
Cluster1 = Xz.loc[cluster == 0]
Cluster2 = Xz.loc[cluster == 1]
Cluster1.describe()

           alcohol        sugar
count  1097.000000  1097.000000
mean      0.490305    -0.623752
std       0.905663     0.475694
min      -1.576448    -1.122791
25%      -0.156821    -0.951551
50%       0.427732    -0.844525
75%       1.179299    -0.352208
max       2.891203     1.477928

In [23]:
Cluster2.describe()

          alcohol       sugar
count  712.000000  712.000000
mean    -0.755428    0.961034
std      0.580989    0.818726
min     -1.826971   -0.908740
25%     -1.158911    0.354160
50%     -0.908388    0.867883
75%     -0.407343    1.488630
max      2.014374    5.512788

In [24]:
wine_test = pd.read_csv("white_wine_test")
X_test = wine_test[['alcohol', 'sugar']]
Xz_test = pd.DataFrame(stats.zscore(X_test), 
columns=['alcohol', 'sugar'])
kmeans_test = KMeans(n_clusters = 2).fit(Xz_test)
cluster_test = kmeans_test.labels_ # Cluster membership
Cluster1_test = Xz_test.loc[cluster_test == 0]
Cluster2_test = Xz_test.loc[cluster_test == 1]
Cluster1_test.describe()

           alcohol        sugar
count  1122.000000  1122.000000
mean      0.456397    -0.605782
std       0.903287     0.459740
min      -1.675754    -1.089453
25%      -0.218729    -0.945241
50%       0.368129    -0.821632
75%       1.157351    -0.285988
max       2.776268     1.423949

In [25]:
Cluster2_test.describe()

          alcohol       sugar
count  638.000000  638.000000
mean    -0.802630    1.065341
std      0.561207    0.779670
min     -2.080483   -1.037949
25%     -1.190079    0.396441
50%     -0.947241    1.032518
75%     -0.542512    1.583612
max      1.562080    3.298700