In [35]:

import jenkspy as jenkspy
import pandas as pd
import matplotlib as plt
import numpy as np
import plot_utils
import seaborn as sns
import statistics
from sklearn import tree, metrics
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [36]:
test=pd.read_csv('adult_ch6_test')
train=pd.read_csv('adult_ch6_training')
train

      Marital status Income  Cap_Gains_Losses
0      Never-married  <=50K           0.02174
1           Divorced  <=50K           0.00000
2            Married  <=50K           0.00000
3            Married  <=50K           0.00000
4            Married  <=50K           0.00000
...              ...    ...               ...
18756       Divorced  <=50K           0.00000
18757        Married  <=50K           0.00000
18758        Married  <=50K           0.00000
18759       Divorced  <=50K           0.00000
18760        Married  <=50K           0.00000

[18761 rows x 3 columns]

In [37]:
train['CapGainsLossesPositive']=0
train['CapGainsLossesPositive'][train['Cap_Gains_Losses']>0]=1
train['CapGainsLossesPositive'][train['Cap_Gains_Losses']<=0]=0
train

c:\_uni\term8\datamining\hws\codes\venv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\_uni\term8\datamining\hws\codes\venv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

      Marital status Income  Cap_Gains_Losses  CapGainsLossesPositive
0      Never-married  <=50K           0.02174                       1
1           Divorced  <=50K           0.00000                       0
2            Married  <=50K           0.00000                       0
3            Married  <=50K           0.00000                       0
4            Married  <=50K           0.00000                       0
...              ...    ...               ...                     ...
18756       Divorced  <=50K           0.00000                       0
18757        Married  <=50K           0.00000                       0
18758        Married  <=50K           0.00000                       0
18759       Divorced  <=50K           0.00000                       0
18760        Married  <=50K           0.00000                       0

[18761 rows x 4 columns]

In [38]:
train_d=pd.get_dummies(train,columns=['Marital status','Income','CapGainsLossesPositive'])
train_d

,Cap_Gains_Losses,Marital status_Divorced,Marital status_Married,Marital status_Never-married,Marital status_Separated,Marital status_Widowed,Income_<=50K,Income_>50K,CapGainsLossesPositive_0,CapGainsLossesPositive_1
0,0.02174,0,0,1,0,0,1,0,0,1
1,0.00000,1,0,0,0,0,1,0,1,0
2,0.00000,0,1,0,0,0,1,0,1,0
3,0.00000,0,1,0,0,0,1,0,1,0
4,0.00000,0,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
18756,0.00000,1,0,0,0,0,1,0,1,0
18757,0.00000,0,1,0,0,0,1,0,1,0
18758,0.00000,0,1,0,0,0,1,0,1,0
18759,0.00000,1,0,0,0,0,1,0,1,0
18760,0.00000,0,1,0,0,0,1,0,1,0

In [39]:
test['CapGainsLossesPositive']=0
test['CapGainsLossesPositive'][test['Cap_Gains_Losses']>0]=1
test['CapGainsLossesPositive'][test['Cap_Gains_Losses']<=0]=0
test

c:\_uni\term8\datamining\hws\codes\venv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\_uni\term8\datamining\hws\codes\venv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     Marital status Income  Cap_Gains_Losses  CapGainsLossesPositive
0           Married  <=50K          0.000000                       0
1           Married   >50K          0.051781                       1
2     Never-married  <=50K          0.000000                       0
3          Divorced   >50K          0.000000                       0
4           Married   >50K          0.000000                       0
...             ...    ...               ...                     ...
6150        Married  <=50K          0.000000                       0
6151  Never-married  <=50K          0.000000                       0
6152       Divorced  <=50K          0.000000                       0
6153  Never-married  <=50K          0.000000                       0
6154        Married  <=50K          0.000000                       0

[6155 rows x 4 columns]

In [40]:
test_d=pd.get_dummies(test,columns=['Marital status','Income','CapGainsLossesPositive'])
test_d

,Cap_Gains_Losses,Marital status_Divorced,Marital status_Married,Marital status_Never-married,Marital status_Separated,Marital status_Widowed,Income_<=50K,Income_>50K,CapGainsLossesPositive_0,CapGainsLossesPositive_1
0,0.000000,0,1,0,0,0,1,0,1,0
1,0.051781,0,1,0,0,0,0,1,0,1
2,0.000000,0,0,1,0,0,1,0,1,0
3,0.000000,1,0,0,0,0,0,1,1,0
4,0.000000,0,1,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...
6150,0.000000,0,1,0,0,0,1,0,1,0
6151,0.000000,0,0,1,0,0,1,0,1,0
6152,0.000000,1,0,0,0,0,1,0,1,0
6153,0.000000,0,0,1,0,0,1,0,1,0
6154,0.000000,0,1,0,0,0,1,0,1,0

In [41]:

train_d=train_d.drop(columns=['Cap_Gains_Losses'])
test_d=test_d.drop(columns=['Cap_Gains_Losses'])
train_d

,Marital status_Divorced,Marital status_Married,Marital status_Never-married,Marital status_Separated,Marital status_Widowed,Income_<=50K,Income_>50K,CapGainsLossesPositive_0,CapGainsLossesPositive_1
0,0,0,1,0,0,1,0,0,1
1,1,0,0,0,0,1,0,1,0
2,0,1,0,0,0,1,0,1,0
3,0,1,0,0,0,1,0,1,0
4,0,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...
18756,1,0,0,0,0,1,0,1,0
18757,0,1,0,0,0,1,0,1,0
18758,0,1,0,0,0,1,0,1,0
18759,1,0,0,0,0,1,0,1,0
18760,0,1,0,0,0,1,0,1,0

In [42]:
x_train_d=train_d.drop(columns=['Income_<=50K','Income_>50K','CapGainsLossesPositive_1'])
x_test_d=test_d.drop(columns=['Income_<=50K','Income_>50K','CapGainsLossesPositive_1'])
y_train_d=train_d[['Income_<=50K']]
y_test_d=test_d[['Income_<=50K']]
x_train_d

,Marital status_Divorced,Marital status_Married,Marital status_Never-married,Marital status_Separated,Marital status_Widowed,CapGainsLossesPositive_0
0,0,0,1,0,0,0
1,1,0,0,0,0,1
2,0,1,0,0,0,1
3,0,1,0,0,0,1
4,0,1,0,0,0,1
...,...,...,...,...,...,...
18756,1,0,0,0,0,1
18757,0,1,0,0,0,1
18758,0,1,0,0,0,1
18759,1,0,0,0,0,1
18760,0,1,0,0,0,1

In [43]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)
mlp.fit(x_train_d, y_train_d.values.ravel())
Y_predicted=mlp.predict(x_test_d)

In [44]:

from sklearn.metrics import confusion_matrix, classification_report
print(confusion_matrix(y_test_d, Y_predicted))

[[ 372 1109]
 [ 129 4545]]

In [45]:
print(classification_report(y_test_d, Y_predicted))

              precision    recall  f1-score   support

           0       0.74      0.25      0.38      1481
           1       0.80      0.97      0.88      4674

    accuracy                           0.80      6155
   macro avg       0.77      0.61      0.63      6155
weighted avg       0.79      0.80      0.76      6155