# Ghazaleh Zehtab
# HW6, Question2

In [191]:
import jenkspy

import pandas as pd
import statsmodels.api as sm
import math
from sklearn import tree, metrics, preprocessing
from sklearn.metrics import accuracy_score, silhouette_score, silhouette_samples, mean_squared_error
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

## a

In [192]:
from sklearn.datasets import load_boston
boston = load_boston()	
print(boston.keys())
print(boston.data.shape)
print(boston.DESCR)

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])
(506, 13)
.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [193]:
print(boston.feature_names)

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

## b

In [194]:
boston_pd = pd.DataFrame(boston.data,columns=boston.feature_names)
boston_pd.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

## c

In [195]:
df=boston_pd
df['Price']=0
df['Price']=boston.target
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

## i

In [196]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, B, LSTAT, Price]
Index: []

In [197]:
x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled,index=df.index, columns=df.columns)
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.000000,0.18,0.067815,0.0,0.314815,0.577505,0.641607,0.269203,0.000000,0.208015,0.287234,1.000000,0.089680,0.422222
1,0.000236,0.00,0.242302,0.0,0.172840,0.547998,0.782698,0.348962,0.043478,0.104962,0.553191,1.000000,0.204470,0.368889
2,0.000236,0.00,0.242302,0.0,0.172840,0.694386,0.599382,0.348962,0.043478,0.104962,0.553191,0.989737,0.063466,0.660000
3,0.000293,0.00,0.063050,0.0,0.150206,0.658555,0.441813,0.448545,0.086957,0.066794,0.648936,0.994276,0.033389,0.631111
4,0.000705,0.00,0.063050,0.0,0.150206,0.687105,0.528321,0.448545,0.086957,0.066794,0.648936,1.000000,0.099338,0.693333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.000633,0.00,0.420455,0.0,0.386831,0.580954,0.681771,0.122671,0.000000,0.164122,0.893617,0.987619,0.219095,0.386667
502,0.000438,0.00,0.420455,0.0,0.386831,0.490324,0.760041,0.105293,0.000000,0.164122,0.893617,1.000000,0.202815,0.346667
503,0.000612,0.00,0.420455,0.0,0.386831,0.654340,0.907312,0.094381,0.000000,0.164122,0.893617,1.000000,0.107892,0.420000
504,0.001161,0.00,0.420455,0.0,0.386831,0.619467,0.889804,0.114514,0.000000,0.164122,0.893617,0.991301,0.131071,0.377778
505,0.000462,0.00,0.420455,0.0,0.386831,0.473079,0.802266,0.125072,0.000000,0.164122,0.893617,1.000000,0.169702,0.153333

## j

In [198]:
y=df['Price']
x=df.drop(columns="Price")
x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.000000,0.18,0.067815,0.0,0.314815,0.577505,0.641607,0.269203,0.000000,0.208015,0.287234,1.000000,0.089680
1,0.000236,0.00,0.242302,0.0,0.172840,0.547998,0.782698,0.348962,0.043478,0.104962,0.553191,1.000000,0.204470
2,0.000236,0.00,0.242302,0.0,0.172840,0.694386,0.599382,0.348962,0.043478,0.104962,0.553191,0.989737,0.063466
3,0.000293,0.00,0.063050,0.0,0.150206,0.658555,0.441813,0.448545,0.086957,0.066794,0.648936,0.994276,0.033389
4,0.000705,0.00,0.063050,0.0,0.150206,0.687105,0.528321,0.448545,0.086957,0.066794,0.648936,1.000000,0.099338
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.000633,0.00,0.420455,0.0,0.386831,0.580954,0.681771,0.122671,0.000000,0.164122,0.893617,0.987619,0.219095
502,0.000438,0.00,0.420455,0.0,0.386831,0.490324,0.760041,0.105293,0.000000,0.164122,0.893617,1.000000,0.202815
503,0.000612,0.00,0.420455,0.0,0.386831,0.654340,0.907312,0.094381,0.000000,0.164122,0.893617,1.000000,0.107892
504,0.001161,0.00,0.420455,0.0,0.386831,0.619467,0.889804,0.114514,0.000000,0.164122,0.893617,0.991301,0.131071
505,0.000462,0.00,0.420455,0.0,0.386831,0.473079,0.802266,0.125072,0.000000,0.164122,0.893617,1.000000,0.169702

In [199]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)
x_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
475,0.071786,0.00,0.646628,0.0,0.409465,0.498371,0.973223,0.097882,1.000000,0.914122,0.808511,0.762620,0.617274
229,0.004894,0.00,0.210411,0.0,0.244856,0.573098,0.190525,0.204194,0.304348,0.229008,0.510638,0.958243,0.056015
102,0.002500,0.00,0.296921,0.0,0.277778,0.544932,0.849640,0.144141,0.173913,0.375954,0.882979,0.177720,0.245585
159,0.015946,0.00,0.700880,0.0,1.000000,0.565051,1.000000,0.057862,0.173913,0.412214,0.223404,0.917822,0.156181
248,0.001777,0.22,0.197947,0.0,0.094650,0.550297,0.475798,0.608981,0.260870,0.272901,0.691489,0.944047,0.214956

## d

In [200]:
reg = LinearRegression().fit(x_train, y_train)
reg.score(x_train, y_train)

0.7806084017380422

In [201]:
predicted=reg.predict(x_test)
predicted

array([ 0.14787142,  0.65239317,  0.53733664,  0.14618947,  0.80560833,
        0.26522566,  0.39610554,  0.15750422,  0.35373464,  0.20536284,
        0.43445102,  0.59079239,  0.2683097 ,  0.04924796, -0.23601887,
        0.81910957,  0.5903701 ,  0.23971426,  0.46456818,  0.28654857,
        0.55979394,  0.17127546,  0.25422967,  0.34209231,  0.70499672,
        0.20165161,  0.30360956,  0.57214305,  0.45243562,  0.70113504,
        0.62639875,  0.42439155,  0.32480542,  0.27509176,  0.608312  ,
        0.58051657,  0.71135954,  0.69260702,  0.33306122,  0.32446379,
        0.01070837,  0.63192237,  0.37048501,  0.56928589,  0.24593356,
        0.55860143,  0.3424175 ,  0.45488829,  0.07840862,  0.32886296,
        0.33912828,  0.31117421,  0.7160596 ,  0.24398083,  0.3233154 ,
        0.32593343,  0.71378565,  0.53882228,  0.28763791,  0.26034506,
        0.39135857,  0.34298111,  0.40582273,  0.33296546,  0.6259486 ,
        0.43721339,  0.60523499,  0.44426452,  0.23040895,  0.50877119,
        0.36302138,  0.22886294,  0.37121736,  0.32736657,  0.27006459,
        0.41943055,  0.51027519,  0.27228574,  0.38590939,  0.61706678,
       -0.13195044,  0.26339986,  0.15953005,  0.41726357,  0.38160615,
        0.66705037,  0.56453105,  0.51190985,  0.41512588,  0.62082467,
        0.17113088,  0.30563336,  0.57512584,  0.34129083,  0.22036444,
        0.17668481,  0.39634456,  0.30267418,  0.3197428 ,  0.79690291,
        0.4165385 ,  0.50824988,  0.4932213 ,  0.44559404,  0.31239688,
        0.46731597,  0.43317404,  0.40075773,  0.36424602,  0.63018454,
        0.3759917 ,  0.21246828,  0.42414177,  0.44784914,  0.25217728,
        0.33981849,  0.447395  , -0.1318412 ,  0.23856501,  0.20628967,
        0.43278872,  0.4564647 ,  0.25317386,  0.0861774 ,  0.24551134,
        0.1725964 ,  0.2013402 ,  0.36680323,  0.30596191,  0.20614382,
        0.46316349,  0.36541847,  0.26688029,  0.36345534,  0.24121301,
        0.28140297,  0.25871019,  0.76721678,  0.44776336,  0.33230539,
        0.64433926,  0.83382496,  0.30261857,  0.33824338, -0.02474666,
        0.36106209,  0.14507298,  0.7503682 ,  0.16375429,  0.13929226,
        0.21473169,  0.308936  ])

## e
### e.Mean Squared Error

In [202]:
MSE = mean_squared_error(y_true = y_test, y_pred = predicted)
MSE

0.017994385278553227

### e.Mean Absolute Error

In [203]:
MAE=mean_absolute_error(y_true=y_test, y_pred=predicted)
MAE

0.08432692844367598

### e.Root Mean Squared Error

In [204]:
RMSE = math.sqrt(MSE)
RMSE

0.1341431521865847

## f

In [205]:
from sklearn.model_selection import ShuffleSplit
cv = ShuffleSplit(n_splits=5, test_size=0.3, random_state=0)
cross_val_list=cross_val_score(reg, x, y, cv=cv)
cross_val_list

array([0.67338255, 0.6227111 , 0.6964105 , 0.75972751, 0.75456272])

In [206]:
cross_val_list.mean()*100

70.13588772099746