# HW3,Q4 Ghazaleh Zehtab

In [14]:
import pandas as pd
import matplotlib as plt
import numpy as np
import plot_utils
import seaborn as sns

In [15]:
from sklearn.model_selection import train_test_split
th=pd.read_csv("thyroid.csv")
th.dropna(inplace=True)
th

,T3_resin,Serum_thyroxin,Serum_triiodothyronine,Basal_TSH,Abs_diff_TSH,Outcome
0,107.0,10.1,2.2,0.9,2.7,1.0
5,105.0,6.1,2.1,1.4,7.0,1.0
9,107.0,13.0,1.1,0.9,3.1,1.0
10,106.0,4.2,1.2,1.6,1.4,1.0
11,110.0,11.3,2.3,0.9,3.3,1.0
...,...,...,...,...,...,...
177,110.0,15.2,1.9,0.7,-0.2,2.0
178,144.0,22.3,3.3,1.3,0.6,2.0
180,88.0,16.5,4.9,0.8,0.1,2.0
181,97.0,15.1,1.8,1.2,-0.2,2.0
184,92.0,11.1,2.0,0.7,-0.2,2.0

## Q4.a

In [16]:
th_train, th_test = train_test_split(th, test_size = 
0.2, random_state = 7)

In [17]:
th_test

,T3_resin,Serum_thyroxin,Serum_triiodothyronine,Basal_TSH,Abs_diff_TSH,Outcome
161,89.0,23.8,5.4,0.5,0.1,2.0
146,114.0,7.5,1.1,1.6,4.4,1.0
145,126.0,10.4,1.7,1.2,3.5,1.0
120,103.0,7.3,1.0,0.7,0.5,1.0
64,117.0,9.2,1.9,1.5,6.8,1.0
38,130.0,9.5,1.7,?,3.2,1.0
65,106.0,6.7,1.5,1.2,3.9,1.0
74,113.0,8.5,1.8,0.8,0.5,1.0
12,116.0,9.2,2.7,1.0,4.2,1.0
173,98.0,16.7,4.3,1.7,0.2,2.0
142,112.0,6.5,1.2,1.2,2.0,1.0
79,117.0,6.7,2.2,1.8,6.7,1.0
124,101.0,6.3,1.5,0.9,2.9,1.0
99,108.0,10.9,1.2,1.9,1.0,1.0
107,107.0,13.8,1.5,1.0,1.9,1.0
160,89.0,14.3,4.1,0.5,0.2,2.0
97,110.0,8.4,1.4,1.0,1.9,1.0
25,100.0,6.1,2.4,1.8,3.8,1.0
180,88.0,16.5,4.9,0.8,0.1,2.0
42,129.0,11.9,2.7,1.2,3.5,1.0
157,110.0,20.3,3.7,0.6,0.2,2.0
184,92.0,11.1,2.0,0.7,-0.2,2.0
78,108.0,10.4,2.1,1.3,2.4,1.0
88,105.0,8.1,2.0,1.9,-0.5,1.0
67,97.0,7.8,1.3,1.2,0.9,1.0

In [18]:
th_train

,T3_resin,Serum_thyroxin,Serum_triiodothyronine,Basal_TSH,Abs_diff_TSH,Outcome
29,110.0,10.4,1.8,1.0,2.3,1.0
156,134.0,16.4,4.8,0.6,0.1,2.0
35,117.0,11.0,1.4,1.5,2.1,1.0
137,127.0,7.7,1.8,1.9,6.4,1.0
113,110.0,7.0,1.0,1.6,4.3,1.0
...,...,...,...,...,...,...
100,108.0,8.7,1.2,2.2,2.5,1.0
175,99.0,17.5,1.9,1.4,0.3,2.0
41,110.0,9.2,1.6,1.5,0.3,1.0
102,113.0,11.5,1.5,1.9,2.9,1.0
72,133.0,9.7,2.9,0.8,1.9,1.0

## Q4,c

In [19]:
th_train.groupby('Outcome').count()

,T3_resin,Serum_thyroxin,Serum_triiodothyronine,Basal_TSH,Abs_diff_TSH
Outcome,,,,,
1.0,83,83,83,83,83
2.0,17,17,17,17,17

In [20]:
th_test.groupby('Outcome').count()

,T3_resin,Serum_thyroxin,Serum_triiodothyronine,Basal_TSH,Abs_diff_TSH
Outcome,,,,,
1.0,19,19,19,19,19
2.0,6,6,6,6,6